{
    "openapi": "3.0.0",
    "info": {
        "title": "Bling API",
        "description": "A sessÃ£o abaixo contÃ©m a documentaÃ§Ã£o das API's que o Bling disponibiliza.",
        "version": "3.0"
    },
    "servers": [
        {
            "url": "https://api.bling.com.br/Api/v3",
            "description": "Ambiente de produÃ§Ã£o"
        },
        {
            "url": "https://developer.bling.com.br/api/bling",
            "description": "Ambiente de teste da documentaÃ§Ã£o"
        }
    ],
    "paths": {
        "/": {},
        "/borderos/{idBordero}": {
            "get": {
                "tags": [
                    "BorderÃ´s"
                ],
                "summary": "ObtÃ©m um borderÃ´",
                "description": "ObtÃ©m um borderÃ´ pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idBordero"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/BorderosDadosDTO"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "BorderÃ´s"
                ],
                "summary": "Remove um borderÃ´",
                "description": "Remove um borderÃ´ pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idBordero"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content."
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/campos-customizados/modulos": {
            "get": {
                "tags": [
                    "Campos Customizados"
                ],
                "summary": "ObtÃ©m mÃ³dulos que possuem campos customizados",
                "description": "ObtÃ©m mÃ³dulos que possuem campos customizados.",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "$ref": "#/components/schemas/CamposCustomizadosModuloBaseDTO"
                                                    },
                                                    {
                                                        "$ref": "#/components/schemas/CamposCustomizadosModuloDTO"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/campos-customizados/tipos": {
            "get": {
                "tags": [
                    "Campos Customizados"
                ],
                "summary": "ObtÃ©m tipos de campos customizados",
                "description": "ObtÃ©m tipos de campos customizados.",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "$ref": "#/components/schemas/CamposCustomizadosTipoBaseDTO"
                                                    },
                                                    {
                                                        "$ref": "#/components/schemas/CamposCustomizadosTipoDTO"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/campos-customizados/modulos/{idModulo}": {
            "get": {
                "tags": [
                    "Campos Customizados"
                ],
                "summary": "ObtÃ©m campos customizados por mÃ³dulo",
                "description": "ObtÃ©m campos customizados por mÃ³dulo paginados.",
                "parameters": [
                    {
                        "name": "idModulo",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": "12345678"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/pagina"
                    },
                    {
                        "$ref": "#/components/parameters/limite"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/CamposCustomizadosDadosBaseDTO"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/campos-customizados/{idCampoCustomizado}": {
            "get": {
                "tags": [
                    "Campos Customizados"
                ],
                "summary": "ObtÃ©m um campo customizado",
                "description": "ObtÃ©m um campo customizado pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idCampoCustomizado"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "allOf": [
                                                {
                                                    "$ref": "#/components/schemas/CamposCustomizadosDadosBaseDTO"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/CamposCustomizadosDadosEdicaoDTO"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/CamposCustomizadosDadosDTO"
                                                }
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Campos Customizados"
                ],
                "summary": "Altera um campo customizado",
                "description": "Altera um campo customizado pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idCampoCustomizado"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/CamposCustomizadosDadosBaseDTO"
                                    },
                                    {
                                        "$ref": "#/components/schemas/CamposCustomizadosDadosEdicaoDTO"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "allOf": [
                                                {
                                                    "$ref": "#/components/schemas/BasePostResponse"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/CamposCustomizadosResponse_POST_PUT"
                                                }
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Campos Customizados"
                ],
                "summary": "Remove um campo customizado",
                "description": "Remove um campo customizado pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idCampoCustomizado"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content."
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/campos-customizados": {
            "post": {
                "tags": [
                    "Campos Customizados"
                ],
                "summary": "Cria um campo customizado",
                "description": "Cria um campo customizado.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/CamposCustomizadosDadosBaseDTO"
                                    },
                                    {
                                        "$ref": "#/components/schemas/CamposCustomizadosDadosEdicaoDTO"
                                    },
                                    {
                                        "$ref": "#/components/schemas/CamposCustomizadosDadosDTO"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "allOf": [
                                                {
                                                    "$ref": "#/components/schemas/BasePostResponse"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/CamposCustomizadosResponse_POST_PUT"
                                                }
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/campos-customizados/{idCampoCustomizado}/situacoes": {
            "patch": {
                "tags": [
                    "Campos Customizados"
                ],
                "summary": "Altera a situaÃ§Ã£o de um campo customizado",
                "description": "Altera a situaÃ§Ã£o de um campo customizado pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idCampoCustomizado"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "situacao": {
                                        "description": "`0` Inativo <br> `1` Ativo",
                                        "type": "integer",
                                        "enum": [
                                            0,
                                            1
                                        ],
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No content."
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/categorias/lojas": {
            "get": {
                "tags": [
                    "Categorias - Lojas"
                ],
                "summary": "ObtÃ©m categorias de lojas virtuais vinculadas a de produtos",
                "description": "ObtÃ©m categorias de lojas virtuais vinculadas a de produtos paginadas.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/pagina"
                    },
                    {
                        "$ref": "#/components/parameters/limite"
                    },
                    {
                        "name": "idLoja",
                        "in": "query",
                        "description": "ID da loja",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 12345678
                        }
                    },
                    {
                        "name": "idCategoriaProduto",
                        "in": "query",
                        "description": "ID da categoria do produto",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 12345678
                        }
                    },
                    {
                        "name": "idCategoriaProdutoPai",
                        "in": "query",
                        "description": "ID da categoria do produto pai",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 12345678
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/CategoriasLojasDadosDTO"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Categorias - Lojas"
                ],
                "summary": "Cria o vÃ­nculo de uma categoria da loja com a de produto",
                "description": "Cria o vÃ­nculo de uma categoria da loja com a de produto.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CategoriasLojasDadosDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/BasePostResponse"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/categorias/lojas/{idCategoriaLoja}": {
            "get": {
                "tags": [
                    "Categorias - Lojas"
                ],
                "summary": "ObtÃ©m uma categoria da loja vinculada a de produto",
                "description": "ObtÃ©m uma categoria da loja vinculada a de produto pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idCategoriaLoja"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/CategoriasLojasDadosDTO"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Categorias - Lojas"
                ],
                "summary": "Altera o vÃ­nculo de uma categoria da loja com a de produto",
                "description": "Altera o vÃ­nculo de uma categoria da loja com a de produto pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idCategoriaLoja"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CategoriasLojasDadosDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No content."
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Categorias - Lojas"
                ],
                "summary": "Remove o vÃ­nculo de uma categoria da loja com a de produto",
                "description": "Remove o vÃ­nculo de uma categoria da loja com a de produto pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idCategoriaLoja"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content."
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/categorias/produtos": {
            "get": {
                "tags": [
                    "Categorias - Produtos"
                ],
                "summary": "ObtÃ©m categorias de produtos",
                "description": "ObtÃ©m categorias de produtos paginadas.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/pagina"
                    },
                    {
                        "$ref": "#/components/parameters/limite"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "$ref": "#/components/schemas/CategoriasProdutosDadosDTO"
                                                    },
                                                    {
                                                        "properties": {
                                                            "categoriaPai": {
                                                                "$ref": "#/components/schemas/CategoriasProdutosCategoriPaiDTO"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Categorias - Produtos"
                ],
                "summary": "Cria uma categoria de produto",
                "description": "Cria uma categoria de produto.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/CategoriasProdutosDadosDTO"
                                    },
                                    {
                                        "properties": {
                                            "categoriaPai": {
                                                "$ref": "#/components/schemas/CategoriasProdutosCategoriPaiDTO"
                                            }
                                        },
                                        "type": "object"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/BasePostResponse"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/categorias/produtos/{idCategoriaProduto}": {
            "get": {
                "tags": [
                    "Categorias - Produtos"
                ],
                "summary": "ObtÃ©m uma categoria de produto",
                "description": "ObtÃ©m uma categoria de produto pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idCategoriaProduto"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "allOf": [
                                                {
                                                    "$ref": "#/components/schemas/CategoriasProdutosDadosDTO"
                                                },
                                                {
                                                    "properties": {
                                                        "categoriaPai": {
                                                            "$ref": "#/components/schemas/CategoriasProdutosCategoriPaiDTO"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Categorias - Produtos"
                ],
                "summary": "Altera uma categoria de produto",
                "description": "Altera uma categoria de produto pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idCategoriaProduto"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CategoriasProdutosDadosDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No content."
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Categorias - Produtos"
                ],
                "summary": "Remove uma categoria de produto",
                "description": "Remove uma categoria de produto pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idCategoriaProduto"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content."
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/categorias/receitas-despesas": {
            "get": {
                "tags": [
                    "Categorias - Receitas e Despesas"
                ],
                "summary": "ObtÃ©m categorias de receitas e despesas",
                "description": "ObtÃ©m categorias de receitas e despesas paginadas.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/pagina"
                    },
                    {
                        "$ref": "#/components/parameters/limite"
                    },
                    {
                        "name": "tipo",
                        "in": "query",
                        "description": "`0` Todas<br>`1` Despesa<br>`2` Receita<br>`3` Receita e despesa",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 0,
                            "enum": [
                                0,
                                1,
                                2,
                                3
                            ]
                        }
                    },
                    {
                        "name": "situacao",
                        "in": "query",
                        "description": "`0` Ativas e Inativas<br>`1` Ativas<br>`2` Inativas",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 0,
                            "enum": [
                                0,
                                1,
                                2
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "$ref": "#/components/schemas/CategoriasReceitasDespesasDadosBaseDTO"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Categorias - Receitas e Despesas"
                ],
                "summary": "Cria uma categoria de receita e despesa",
                "description": "Cria uma categoria de receita e despesa.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/CategoriasReceitasDespesasDadosPostDTO"
                                    },
                                    {
                                        "$ref": "#/components/schemas/CategoriasReceitasDespesasDadosBaseDTO"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/CategoriasReceitasDespesasDadosBaseDTO"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/categorias/receitas-despesas/{idCategoria}": {
            "get": {
                "tags": [
                    "Categorias - Receitas e Despesas"
                ],
                "summary": "ObtÃ©m uma categoria de receita e despesa",
                "description": "ObtÃ©m uma categoria de receita e despesa pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idCategoria"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "allOf": [
                                                {
                                                    "$ref": "#/components/schemas/CategoriasReceitasDespesasDadosBaseDTO"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/CategoriasReceitasDespesasDadosDTO"
                                                }
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Categorias - Receitas e Despesas"
                ],
                "summary": "Atualiza uma categoria de receita e despesa",
                "description": "Atualiza uma categoria de receita e despesa a partir do ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idCategoria"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/CategoriasReceitasDespesasDadosPostDTO"
                                    },
                                    {
                                        "$ref": "#/components/schemas/CategoriasReceitasDespesasDadosBaseDTO"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/CategoriasReceitasDespesasDadosBaseDTO"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/contas-contabeis": {
            "get": {
                "tags": [
                    "Contas ContÃ¡beis"
                ],
                "summary": "ObtÃ©m contas contÃ¡beis",
                "description": "ObtÃ©m contas contÃ¡beis paginadas.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/pagina"
                    },
                    {
                        "$ref": "#/components/parameters/limite"
                    },
                    {
                        "name": "ocultarInvisiveis",
                        "in": "query",
                        "description": "Oculta contas contÃ¡beis invisÃ­veis",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "example": true
                        }
                    },
                    {
                        "name": "ocultarTipoContaBancaria",
                        "in": "query",
                        "description": "Oculta contas contÃ¡beis do tipo conta bancÃ¡ria",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "example": true
                        }
                    },
                    {
                        "name": "situacoes",
                        "in": "query",
                        "description": "SituaÃ§Ã£o da conta contÃ¡bil<br> `1` Ativo<br> `2` Inativo<br> `3` Pendente<br> `4` Cancelada",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer",
                                "enum": [
                                    1,
                                    2,
                                    3,
                                    4
                                ]
                            }
                        }
                    },
                    {
                        "name": "aliasIntegracao",
                        "in": "query",
                        "description": "Alias da integraÃ§Ã£o",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "BlingPagamentos"
                        }
                    },
                    {
                        "name": "aliasIntegracao",
                        "in": "path",
                        "description": "Alias da integraÃ§Ã£o",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "BlingPagamentos"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "$ref": "#/components/schemas/ContasContabeisDadosDTO"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/contas-contabeis/{idContaContabil}": {
            "get": {
                "tags": [
                    "Contas ContÃ¡beis"
                ],
                "summary": "ObtÃ©m uma conta contÃ¡bil",
                "description": "ObtÃ©m uma conta contÃ¡bil pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idContaContabil"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "allOf": [
                                                {
                                                    "$ref": "#/components/schemas/ContasContabeisDadosDTO"
                                                }
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/contas/receber": {
            "get": {
                "tags": [
                    "Contas a Receber"
                ],
                "summary": "ObtÃ©m contas a receber",
                "description": "ObtÃ©m contas a receber paginadas.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/pagina"
                    },
                    {
                        "$ref": "#/components/parameters/limite"
                    },
                    {
                        "name": "situacoes[]",
                        "in": "query",
                        "description": "`1` Em aberto <br>`2` Recebido <br>`3` Parcialmente recebido <br>`4` Devolvido <br>`5` Cancelado",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            },
                            "enum": [
                                1,
                                2,
                                3,
                                4,
                                5
                            ],
                            "example": [
                                1,
                                3
                            ]
                        }
                    },
                    {
                        "name": "tipoFiltroData",
                        "in": "query",
                        "description": "Referente ao campo que serÃ¡ considerado ao filtrar por data inicial e final<br>`E` Data de emissÃ£o <br> `V` Data de vencimento <br> `R` Data de recebimento",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "E",
                            "enum": [
                                "E",
                                "V",
                                "R"
                            ]
                        }
                    },
                    {
                        "name": "dataInicial",
                        "in": "query",
                        "description": "Data inicial",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2023-01-01"
                        }
                    },
                    {
                        "name": "dataFinal",
                        "in": "query",
                        "description": "Data final",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2023-01-01"
                        }
                    },
                    {
                        "name": "idsCategorias[]",
                        "in": "query",
                        "description": "IDs das categorias de receitas e despesas",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            },
                            "example": [
                                12345678,
                                87654321
                            ]
                        }
                    },
                    {
                        "name": "idPortador",
                        "in": "query",
                        "description": "ID da conta contÃ¡bil",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 12345678
                        }
                    },
                    {
                        "name": "idContato",
                        "in": "query",
                        "description": "ID do contato",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 12345678
                        }
                    },
                    {
                        "name": "idVendedor",
                        "in": "query",
                        "description": "ID do vendedor",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 12345678
                        }
                    },
                    {
                        "name": "idFormaPagamento",
                        "in": "query",
                        "description": "ID da forma de pagamento",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 12345678
                        }
                    },
                    {
                        "name": "boletoGerado",
                        "in": "query",
                        "description": "ObtÃ©m contas com ou sem boletos emitidos via integraÃ§Ã£o, `0` para boletos nÃ£o emitidos e `1` para boletos emitidos",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ],
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ContasReceberDadosListDTO"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Contas a Receber"
                ],
                "summary": "Cria uma conta a receber",
                "description": "Cria uma conta a receber.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ContasDadosBaseDTO"
                                    },
                                    {
                                        "$ref": "#/components/schemas/ContasReceberDadosBaseDTO"
                                    },
                                    {
                                        "$ref": "#/components/schemas/ContasReceberDadosDTO"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/BasePostResponse"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/contas/receber/{idContaReceber}": {
            "get": {
                "tags": [
                    "Contas a Receber"
                ],
                "summary": "ObtÃ©m uma conta a receber",
                "description": "ObtÃ©m uma conta a receber pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idContaReceber"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "allOf": [
                                                {
                                                    "$ref": "#/components/schemas/ContasReceberDadosListDTO"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/ContasReceberDadosBaseDTO"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/ContasReceberDadosDTO"
                                                }
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Contas a Receber"
                ],
                "summary": "Altera uma conta a receber",
                "description": "Altera uma conta a receber pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idContaReceber"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ContasDadosBaseDTO"
                                    },
                                    {
                                        "$ref": "#/components/schemas/ContasReceberDadosBaseDTO"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No content."
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Contas a Receber"
                ],
                "summary": "Remove uma conta a receber",
                "description": "Remove uma conta a receber pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idContaReceber"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content."
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/contas/receber/{idContaReceber}/baixar": {
            "post": {
                "tags": [
                    "Contas a Receber"
                ],
                "summary": "Cria o recebimento de uma conta a receber",
                "description": "Cria o recebimento de uma conta a receber.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idContaReceber"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ContasBaixarContaDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "bordero": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 12345678
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/contas/receber/boletos": {
            "get": {
                "tags": [
                    "Contas a Receber"
                ],
                "summary": "ObtÃ©m boletos de contas a receber",
                "description": "ObtÃ©m os boletos vinculados a um idOrigem, o qual corresponde ao ID de uma venda ou nota fiscal.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idOrigemContaReceber"
                    },
                    {
                        "$ref": "#/components/parameters/situacoesContaReceber"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ContasReceberBoletosDadosBaseDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "properties": {
                                                "type": {
                                                    "description": "Tipo do erro.",
                                                    "type": "string",
                                                    "example": "RESOURCE_NOT_FOUND"
                                                },
                                                "message": {
                                                    "description": "Mensagem de erro.",
                                                    "type": "string",
                                                    "example": "Nenhum boleto foi localizado"
                                                },
                                                "description": {
                                                    "description": "DescriÃ§Ã£o do erro.",
                                                    "type": "string",
                                                    "example": "O recurso requisitado nÃ£o foi encontrado. Verifique se o endpoint solicitado estÃ¡ correto ou se o ID informado realmente existe no sistema"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/contas/receber/boletos/cancelar": {
            "post": {
                "tags": [
                    "Contas a Receber"
                ],
                "summary": "Cancela boletos de contas a receber",
                "description": "Cancela um ou todos os boletos em aberto vinculados a uma venda ou nota fiscal.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ContasReceberBoletosCancelarDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No content."
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": [
                                        "type",
                                        "message",
                                        "description"
                                    ],
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "enum": [
                                                "BAD_REQUEST",
                                                "VALIDATION_ERROR",
                                                "MISSING_REQUIRED_FIELD_ERROR",
                                                "EMPTY_REQUEST_BODY",
                                                "INVALID_REQUEST_BODY",
                                                "INVALID_APIKEY_ERROR",
                                                "UNAUTHORIZED",
                                                "UNAUTHENTICATED",
                                                "FORBIDDEN",
                                                "RESOURCE_NOT_FOUND",
                                                "METHOD_NOT_ALLOWED",
                                                "TOO_MANY_REQUESTS",
                                                "UNKNOWN_ERROR",
                                                "SERVER_ERROR",
                                                "NOT_IMPLEMENTED"
                                            ],
                                            "example": "VALIDATION_ERROR"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "NÃ£o foi possÃ­vel relizar cancelamento da(s) conta(s) a receber"
                                        },
                                        "description": {
                                            "type": "string",
                                            "example": "NÃ£o foi possÃ­vel relizar cancelamento da(s) conta(s) a receber, pois houveram erros de validaÃ§Ã£o."
                                        },
                                        "fields": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "code": {
                                                        "type": "integer",
                                                        "example": ""
                                                    },
                                                    "msg": {
                                                        "type": "string",
                                                        "example": "Conta(s) a receber nÃ£o foram encontrada(s), verifique se as contas estÃ£o em aberto e com forma de pagamento boleto bancÃ¡rio"
                                                    },
                                                    "element": {
                                                        "type": "string",
                                                        "example": "idDuplicata"
                                                    },
                                                    "namespace": {
                                                        "description": "",
                                                        "type": "string",
                                                        "example": ""
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/contatos": {
            "get": {
                "tags": [
                    "Contatos"
                ],
                "summary": "ObtÃ©m contatos",
                "description": "ObtÃ©m contatos paginados.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/pagina"
                    },
                    {
                        "$ref": "#/components/parameters/limite"
                    },
                    {
                        "name": "pesquisa",
                        "in": "query",
                        "description": "Nome, CPF/CNPJ, fantasia, e-mail ou cÃ³digo do contato",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "criterio",
                        "in": "query",
                        "description": "Criterio de listagem <br> `1` Todos <br> `2` ExcluÃ­dos <br> `3` Ãšltimos incluÃ­dos <br> `4` Sem movimento",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 3,
                            "enum": [
                                1,
                                2,
                                3,
                                4
                            ]
                        }
                    },
                    {
                        "name": "dataInclusaoInicial",
                        "in": "query",
                        "description": "Data de inclusÃ£o inicial",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "datetime",
                            "example": "2022-01-01 10:00:00"
                        }
                    },
                    {
                        "name": "dataInclusaoFinal",
                        "in": "query",
                        "description": "Data de inclusÃ£o final",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "datetime",
                            "example": "2022-01-01 15:00:00"
                        }
                    },
                    {
                        "name": "dataAlteracaoInicial",
                        "in": "query",
                        "description": "Data de alteraÃ§Ã£o inicial",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "datetime",
                            "example": "2022-01-01 10:00:00"
                        }
                    },
                    {
                        "name": "dataAlteracaoFinal",
                        "in": "query",
                        "description": "Data de alteraÃ§Ã£o final",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "datetime",
                            "example": "2022-01-01 15:00:00"
                        }
                    },
                    {
                        "name": "idTipoContato",
                        "in": "query",
                        "description": "ID do tipo do contato",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 12345678
                        }
                    },
                    {
                        "name": "idVendedor",
                        "in": "query",
                        "description": "ID do vendedor relacionado ao contato",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 12345678
                        }
                    },
                    {
                        "name": "uf",
                        "in": "query",
                        "description": "UF do contato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "RS"
                        }
                    },
                    {
                        "name": "telefone",
                        "in": "query",
                        "description": "Telefone do contato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "(51) 99999-9999"
                        }
                    },
                    {
                        "name": "idsContatos[]",
                        "in": "query",
                        "description": "IDs dos contatos",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            },
                            "example": [
                                12345678,
                                87654321
                            ]
                        }
                    },
                    {
                        "name": "numeroDocumento",
                        "in": "query",
                        "description": " CPF/CNPJ, desconsiderando a pontuaÃ§Ã£o",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "12345678910"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ContatosDadosBaseDTO"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Contatos"
                ],
                "summary": "Cria um contato",
                "description": "Cria um contato.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ContatosDadosBaseDTO"
                                    },
                                    {
                                        "$ref": "#/components/schemas/ContatosDadosDTO"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/BasePostResponse"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Contatos"
                ],
                "summary": "Remove mÃºltiplos contatos",
                "description": "Remove mÃºltiplos contatos pelos IDs.",
                "parameters": [
                    {
                        "name": "idsContatos[]",
                        "in": "query",
                        "description": "IDs dos contatos",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            },
                            "example": [
                                12345678,
                                87654321
                            ]
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content."
                    },
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/ContatosAlertasResponse"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/contatos/{idContato}": {
            "get": {
                "tags": [
                    "Contatos"
                ],
                "summary": "ObtÃ©m um contato",
                "description": "ObtÃ©m um contato pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idContato"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "allOf": [
                                                {
                                                    "$ref": "#/components/schemas/ContatosDadosBaseDTO"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/ContatosDadosDTO"
                                                }
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Contatos"
                ],
                "summary": "Altera um contato",
                "description": "Altera um contato pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idContato"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ContatosDadosBaseDTO"
                                    },
                                    {
                                        "$ref": "#/components/schemas/ContatosDadosDTO"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No content."
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Contatos"
                ],
                "summary": "Remove um contato",
                "description": "Remove um contato pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idContato"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content."
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/contatos/{idContato}/tipos": {
            "get": {
                "tags": [
                    "Contatos"
                ],
                "summary": "ObtÃ©m os tipos de contato de um contato",
                "description": "ObtÃ©m os tipos de contato de um contato pelo ID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idContato"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ContatosTipoContatoDTO"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/contatos/consumidor-final": {
            "get": {
                "tags": [
                    "Contatos"
                ],
                "summary": "ObtÃ©m os dados do contato Consumidor Final",
                "description": "ObtÃ©m os dados do contato Consumidor Final. O consumidor final Ã© um contato padrÃ£o do sistema que Ã© criado automaticamente e nÃ£o pode ser alterado.",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "allOf": [
                                                {
                                                    "$ref": "#/components/schemas/ContatosDadosBaseDTO"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/ContatosDadosDTO"
                                                }
                                            ]
[...]
